.mainBox {
    text-align: center;
    font-size: 24px;
}

.gameBox {
    margin: 0 auto;
    height: 500px;
    width: 700px;
    outline: 1px solid red;
}

.startButton {
    width: 200px;
    height: 200px;
}