.mainBox {
    text-align: center;
    font-size: 24px;
}

.gameBox {
    margin: 0 auto;
    height: 700px;
    width: 700px;
    outline: 1px solid red;
}

.tools {
    width: 200px;
    height: 500px;
    outline: 1px solid black;
    position: absolute;
    margin-left: 10px;
    margin-top: 25px;
}

.toolPics {
    width: 100px;
    height: 450px;
    outline: 1px solid black;
    position: absolute;
    margin-left: 50px;
    margin-top: 25px;
}
.startButton {
    width: 200px;
    height: 200px;
    position: relative;
    margin-top: 150px;
}